**Python task 1**

In [32]:
import pandas as pd
df1=pd.read_csv('/content/sample_data/dataset-1.csv')
df1

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [5]:
def generate_car_matrix(data):

    car_matrix = data.pivot(index='id_1', columns='id_2', values='car').fillna(0)


    for index in car_matrix.index:
        car_matrix.at[index, index] = 0

    return car_matrix

In [6]:
result_matrix = generate_car_matrix(df1)
print(result_matrix)

id_2    801    802    803    804    805    806    807    808    809    821  \
id_1
801    0.00   2.80   6.00   7.70  11.70  13.40  16.90  19.60  21.00  23.52
802    2.80   0.00   3.40   5.20   9.20  10.90  14.30  17.10  18.50  20.92
803    6.00   3.40   0.00   2.00   6.00   7.70  11.10  13.90  15.30  17.72
804    7.70   5.20   2.00   0.00   4.40   6.10   9.50  12.30  13.70  16.12
805   11.70   9.20   6.00   4.40   0.00   2.00   5.40   8.20   9.60  12.02
806   13.40  10.90   7.70   6.10   2.00   0.00   3.80   6.60   8.00  10.42
807   16.90  14.30  11.10   9.50   5.40   3.80   0.00   2.90   4.30   6.82
808   19.60  17.10  13.90  12.30   8.20   6.60   2.90   0.00   1.70   4.12
809   21.00  18.50  15.30  13.70   9.60   8.00   4.30   1.70   0.00   2.92
821   23.52  20.92  17.72  16.12  12.02  10.42   6.82   4.12   2.92   0.00
822   24.67  22.07  18.87  17.27  13.17  11.57   7.97   5.27   4.07   1.80
823   26.53  23.93  20.73  19.13  15.03  13.43   9.83   7.13   5.93   3.67
824   27.92  25.32  22.12  20.52  16.42   7.80  11.22   8.52   7.32   5.06
825   29.08  26.48  23.28  21.68  17.58  15.98  12.38   9.68   8.48   6.22
826   30.87  28.27  25.07  23.47  19.37  17.77  14.17  11.47  10.27   8.01
827   32.53  29.93  26.73  25.13  21.03  19.43  15.83  13.13  11.93   9.43
829   36.32  33.72  30.52  28.92  24.82  23.22  19.62  16.92  15.72  13.26
830   38.27  35.67  32.47  30.87  26.77  25.17  21.57  18.87  17.67  15.17
831   39.24  36.64  33.44  31.84  27.74  26.14  22.54  19.84  18.64  16.15

id_2    822    823    824    825    826    827    829    830    831
id_1
801   24.67  26.53  27.92  29.08  30.87  32.53  36.32  38.27  39.24
802   22.07  23.93  25.32  26.48  28.27  29.93  33.72  35.67  36.64
803   18.87  20.73  22.12  23.28  25.07  26.73  30.52  32.47  33.44
804   17.27  19.13  20.52  21.68  23.47  25.13  28.92  30.87  31.84
805   13.17  15.03  16.42  17.58  19.37  21.03  24.82  26.77  27.74
806   11.57  13.43  14.82  15.98  17.77  19.43  23.22  25.17  26.14
807    7.97   9.83  11.22  12.38  14.17  15.83  19.62  21.57  22.54
808    5.27   7.13   8.52   9.68  11.47  13.13  16.92  18.87  19.84
809    4.07   5.93   7.32   8.48  10.27  11.93  15.72  17.67  18.64
821    1.80   3.67   5.06   6.22   8.01   9.43  13.26  15.17  16.15
822    0.00   2.21   3.60   4.76   6.55   8.00  11.81  13.74  14.68
823    2.21   0.00   1.79   2.94   4.74   6.15  10.00  11.89  12.87
824    3.60   1.79   0.00   1.71   3.50   4.92   8.77  10.66  11.64
825    4.76   2.94   1.71   0.00   2.20   3.65   7.46   9.35  10.33
826    6.55   4.74   3.50   2.20   0.00   2.05   5.81   7.71   8.69
827    8.00   6.15   4.92   3.65   2.05   0.00   4.14   6.06   7.04
829   11.81  10.00  21.40   7.46   5.81   4.14   0.00   2.38   3.36
830   13.74  11.89  10.66   0.00   7.71   6.06   2.38   0.00   1.39
831   14.68  12.87  11.64  10.33   8.69   7.04   3.36   1.39   0.00

In [7]:
def get_type_count(data):

    data['car_type'] = pd.cut(data['car'], bins=[float('-inf'), 15, 25, float('inf')],
                              labels=['low', 'medium', 'high'], right=False)


    type_counts = data['car_type'].value_counts().to_dict()


    sorted_type_counts = dict(sorted(type_counts.items()))

    return sorted_type_counts

In [9]:
result_dict = get_type_count(df1)
print(result_dict)

{'high': 56, 'low': 196, 'medium': 89}

In [10]:
def get_bus_indexes(df):


  mean_bus = df['bus'].mean()
  filtered_df = df[df['bus'] > 2 * mean_bus]
  return sorted(filtered_df.index.to_list())

In [12]:

bus_indexes = get_bus_indexes(df1)
print(bus_indexes)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

In [14]:
def filter_routes(data):

    filtered_routes = data.groupby('route')['truck'].mean()


    selected_routes = filtered_routes[filtered_routes > 7].index.tolist()


    sorted_routes = sorted(selected_routes)

    return sorted_routes

In [15]:
result_routes = filter_routes(df1)
print(result_routes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
def multiply_matrix(input_matrix):

    modified_matrix = input_matrix.copy()


    modified_matrix = modified_matrix.applymap(lambda x: x * 0.75 if pd.notna(x) and x > 20 else x * 1.25)


    modified_matrix = modified_matrix.round(1)

    return modified_matrix

In [36]:

result_matrix = multiply_matrix(df1)
print(result_matrix)

      id_1   id_2  route  moto   car    rv   bus  truck
0    621.8  620.2    1.2   2.6   5.2   5.2  12.6   19.0
1    621.8  615.8    5.0   8.3  16.6  16.6  24.3   36.4
2    621.8  603.0    8.8  18.0  21.7  21.7  48.5   72.8
3    621.8  616.5    7.5   7.4  14.8  14.8  21.6   32.4
4    621.8  619.5   11.2   3.6   7.3   7.3  17.8   15.9
..     ...    ...    ...   ...   ...   ...   ...    ...
336  602.2  601.5    3.8   2.1   4.2   4.2   8.6   12.9
337  602.2  603.8    5.0   3.8   7.5   7.5  15.0   22.4
338  602.2  618.8    3.8  14.5  17.5  17.5  37.6   56.4
339  602.2  604.5   11.2   4.8   9.6   9.6  19.1   17.2
340  602.2  622.5    1.2  20.2  24.4  24.4  54.4   81.6

[341 rows x 8 columns]

In [37]:
df2=pd.read_csv('/content/sample_data/dataset-2.csv')
df2

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11

In [42]:
def check_time_completeness(df):

    df['start_timestamp'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'], errors='coerce')
    df['end_timestamp'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'], errors='coerce')


    df['start_day_of_week'] = df['start_timestamp'].dt.day_name()
    df['end_day_of_week'] = df['end_timestamp'].dt.day_name()
    df['start_hour'] = df['start_timestamp'].dt.hour
    df['end_hour'] = df['end_timestamp'].dt.hour


    correct_start_timestamps = (
        (df['start_day_of_week'].isin(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])) &
        (df['start_hour'].between(0, 23))
    )
    correct_end_timestamps = (
        (df['end_day_of_week'].isin(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])) &
        (df['end_hour'].between(0, 23))
    )


    correct_timestamps = correct_start_timestamps & correct_end_timestamps


    completeness_series = df.groupby(['id', 'id_2'])['start_timestamp'].transform(lambda x: all(correct_timestamps))

    return completeness_series

In [43]:
result_series = check_time_completeness(df2)
print(result_series)

<ipython-input-42-84b1caad081e>:7: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df['start_day_of_week'] = df['start_timestamp'].dt.day_name()
<ipython-input-42-84b1caad081e>:8: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df['end_day_of_week'] = df['end_timestamp'].dt.day_name()

0        False
1        False
2        False
3        False
4        False
         ...
39509    False
39510    False
39511    False
39512    False
39513    False
Name: start_timestamp, Length: 39514, dtype: bool